name: build-ios-app

on:
  push:

jobs:
  build:
    runs-on: macos-latest

    steps:
#      - name: Select latest Xcode
#        run: |
#          echo "Checking available Xcode versions..."
#          ls /Applications | grep Xcode
#
#          # Pick the highest version
#          LATEST_XCODE=$(ls /Applications | grep Xcode | sort -V | tail -n 1)
#          echo "Latest Xcode detected: $LATEST_XCODE"
#
#          # Switch to that version
#          SELECTED_PATH="/Applications/$LATEST_XCODE/Contents/Developer"
#          echo "Switching to: $SELECTED_PATH"
#          sudo xcode-select -s "$SELECTED_PATH"
#
#          # Verify
#          echo "Xcode version now in use:"
#          xcodebuild -version

      - name: Xcode Select Version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
    
      - name: Checkout source
        uses: actions/checkout@v4
        
      - name: Debug Xcode Destinations
        run: |
          xcodebuild -showdestinations -scheme DemoApp -project DemoApp.xcodeproj
          
        - name: Debug Build Settings
          run: |
            xcodebuild -showBuildSettings -scheme DemoApp -project DemoApp.xcodeproj | grep SUPPORTED_PLATFORMS
        
      - name: Debug match password
        run: |
          if [ -z "$MATCH_PASSWORD" ]; then
            echo "MATCH_PASSWORD is NOT SET!"
          else
            echo "MATCH_PASSWORD is SET (hidden)"
          fi
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          
      - name: Set up Match HTTPS authentication
        run: |
          AUTH_BASE64=$(echo -n "x-access-token:${{ secrets.PAT_TOKEN }}" | base64)
          echo "MATCH_GIT_BASIC_AUTHORIZATION=$AUTH_BASE64" >> $GITHUB_ENV

      - name: Run Fastlane
        run: fastlane beta
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
