name: build-ios-app

on:
  push:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Select latest Xcode
        run: |
          LATEST_XCODE=$(ls /Applications | grep Xcode | sort -V | tail -n 1)
          echo "Using Xcode: $LATEST_XCODE"
          sudo xcode-select -s "/Applications/$LATEST_XCODE/Contents/Developer"
    
      - name: Checkout source
        uses: actions/checkout@v4
        
      - name: Debug match password
        run: |
          if [ -z "$MATCH_PASSWORD" ]; then
            echo "MATCH_PASSWORD is NOT SET!"
          else
            echo "MATCH_PASSWORD is SET (hidden)"
          fi
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          
      - name: Set up Match HTTPS authentication
        run: |
          AUTH_BASE64=$(echo -n "x-access-token:${{ secrets.PAT_TOKEN }}" | base64)
          echo "MATCH_GIT_BASIC_AUTHORIZATION=$AUTH_BASE64" >> $GITHUB_ENV

      - name: Run Fastlane
        run: fastlane beta
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
